.under-construction-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 10rem;
}

.under-construction-page h1 {
  font-size: 1.25rem;
}

.under-construction-page img {
  width: 10rem;
}
