*,
::after,
::before {
  box-sizing: border-box;
}

a,
button,
input {
  color: inherit;
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
}

:root {
  --clr-text-primary: #000000;
  --clr-text-secondary: #979797;
  --clr-primary: #1d4ed8;
  --clr-active-btn-bg: #e9efff;
  --clr-background: #f9faff;
  --clr-panel-background: #fff;
  --clr-menu-item-hover: #edf2ff;
  --clr-divider: #eee;
  --clr-danger: #a80000;
  --spaces-primary: 2rem;
  --font-primary: 'Poppins', sans-serif;
  --sidebar-width: 5rem;
}

body {
  font: 400 0.875rem / 1 var(--font-primary);
  color: var(--clr-text-primary);
  background-color: var(--clr-background);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.burger-btn {
  background-color: transparent;
  font-size: 1.25rem;
  border: none;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}

.thin {
  font-weight: 300;
}

.xl {
  font-size: 1.25rem;
}
.lg {
  font-size: 1rem;
}

.md {
  font-size: 0.875rem;
}

.sm {
  font-size: 0.625rem;
}

.xsm {
  font-size: 0.5rem;
}

.primary {
  color: var(--clr-primary);
}

.center {
  display: grid;
  place-items: center;
}

.danger {
  color: var(--clr-danger);
}

@media (max-width: 480px) {
  :root {
    --spaces-primary: 1rem;
  }
}
