*,
::after,
::before {
  box-sizing: border-box;
}

a,
button,
input {
  color: inherit;
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
}

:root {
  --clr-text-primary: #000000;
  --clr-text-secondary: #979797;
  --clr-primary: #1d4ed8;
  --clr-active-btn-bg: #e9efff;
  --clr-background: #ffffff;
  --clr-divider: #c4c4c4;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-primary: 'Poppins', sans-serif;
  --sidebar-width: 5rem;
}

body {
  font: var(--font-weight-semi-bold) 1.25rem / 1 var(--font-primary);
  color: var(--clr-text-primary);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
}
